@font-face {
    font-family: aweston;
    src: url(fonts/Norse-Bold.otf);
}

:root{
    --gray: #f7f8fa;
    background-color: black;
}

* {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 475;
}

.italic {
    font-style: italic;
}

body {
    display: flex;
    width: 1440px;
    height: 1024px;
    margin: 99px auto;
}

.image {
    width: 1200px;
    background-image: url("images/halie-west-25xggax4bSA-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.opac {
    display: flex;
    background-color: rgb(0 0 0 /40%);
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    margin-top: 210px;
}

.image img {
    width: 95px;
}

.image .odin{
    font-family: aweston, sans-serif;
    color: white;
    font-size: 100px;
}

.content {
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--gray);
    padding: 150px 125px 50px 50px; /* top right bottom left */
}

.form {
    padding: 25px 50px;
    background-color: white;
}

.footer {
    background-color: var(--gray);
    padding-top: 2rem;
    padding-left: 2rem;
    flex: 1;
}