@font-face {
    font-family: aweston;
    src: url(fonts/Norse-Bold.otf);
}

:root{
    --gray: #f7f8fa;
    background-color: black;
}

* {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 475;
}

.italic {
    font-style: italic;
}

body {
    display: flex;
    width: 1440px;
    height: 1024px;
    margin: 99px auto;
}

.image {
    width: 1200px;
    background-image: url("images/halie-west-25xggax4bSA-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.opac {
    display: flex;
    background-color: rgb(0 0 0 /40%);
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    margin-top: 210px;
}

.image img {
    width: 95px;
}

.image .odin{
    font-family: aweston, sans-serif;
    color: white;
    font-size: 100px;
}

.content {
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--gray);
    padding: 150px 125px 50px 50px; /* top right bottom left */
}

form {
    padding: 25px 50px;
    background-color: white;
    box-shadow: 0px 0px 5px black;
    position: relative;
}

form fieldset{
    border-style: none;
    margin: 0px;
    padding: 0px;
    
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}

form label {
    font-size: 12px;
    font-weight: 400;
}

form fieldset div{
    display: flex;
    flex-direction: column;
    width: 250px;
    gap: 5px;
}

form fieldset div input {
    border-radius: 4px;
    border: 1px solid #E5E7EB;
}

.footer {
    background-color: var(--gray);
    padding-top: 30px;
    padding-left: 50px;
    flex: 1;
}

button {
    background-color: #596D48;
    border-style: none;
    color: white;
    border-radius: 8px;
    padding: 15px 50px;
    font-size: 18px;
    margin-bottom: 25px;
}

.footer p, .footer a {
    font-size: 20px;
    font-weight: 400;
}

.footer a {
    text-decoration: none;
    color: #596D48;
}

:invalid {
    border-color: red;
}

input:focus {
    border-color: blue;
}